.header-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.list-done {
  text-decoration: line-through;
}

.list-not-done {
  color: blue;
}

.button-footer {
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 2%;
  width: 100%;
}
